.jumbotron { padding: 20px !important; background-color: #4235ea!important; margin: 0 }

::selection { background: yellow; color: black; }

.header {
  color: white;
  text-align: center; font-size: 26px; font-family: 'Montserrat', sans-serif; font-weight: 700}

.header1 { color: black; text-align: center; font-size: 18px; font-family: 'Montserrat'; font-weight: 800; padding: 30px; margin-top: 10px;}
.dv1 { margin-top: 50px; }

.stl1 { max-width: 18rem; }
.stl2 {text-align: center; color: white;}
.stl3 {text-align: center;}
.stl4 { max-width: 18rem; }
.stl5 { text-align: center; color: white; }
.stl6 { text-align: center; }

.colx1 { padding: 30px }

.card-header { margin: 20px; font-family: 'Montserrat', sans-serif; font-weight: 900; font-size: 20px}
.card-title { font-family: 'Montserrat', sans-serif; font-weight: 900; font-size: 30px}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
.container {
    position: relative;
    text-align: center;
    color: white;
    }
  
.mont1 { font-family: 'Montserrat', sans-serif; font-weight: 900; font-size: 23px; padding-top: 30px; padding-bottom: 10px }
.mont2 { margin-top: -15px; }

.cont1 { margin-left: 135px; }

.sel1 { font-weight: 900; font-size: 20px; border-style: solid; border-color: black; border-radius: 7px;}

.id1 { font-family: 'Montserrat', sans-serif; font-weight: 900; font-size: 20px; padding-top: 10px; color: grey;}

.rw1 { padding-top: 40px;}

/* .fusion2 { background-color: white; } */

.ch2 { font-family:  'Montserrat', sans-serif; font-weight: 900; font-size: 20px;  }

.sct1{margin-top: 10px; padding-top: 20px; padding-right: 20px; padding-left: 50px; padding-bottom: 10px; margin-bottom: 40px; color: blue;}

/* .sct2 { margin-top: 20px; padding: 30px;} */
.gen2 { padding-left: 130px; }

.gen3 { margin-top: 10px; }

.mg2 { margin-top: 60px; }

.sel1-1 { border-style: dashed !important;}
.id12 { margin-left: 1px; }
.mg12 { margin-top: 30px;}

.mr-1 { margin-top: 40px; }

.txt-sm { font-weight: 800; color:black; }

.col-13 { margin-left: 90px; }

.spc-13 { margin-top: 30px; }
.spc-14 { margin-top: 20px;}
.spc-15 { margin-top: 6px;}

.sp-13 { margin-top: 25px; }

.id16 { margin-top: 7px; }